<a href="https://colab.research.google.com/github/Tossmax/corre/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("I'm \n" + "learning \n" + '"Python"')

I'm
learning
"Python"

In [2]:
Num1 = int(input("please enter a number: "))
Num2 = int(input("please enter a new number: "))
 
Sum = Num1 + Num2
print("The sum of the two numbers: ", Sum)

please enter a number: -22
please enter a new number: 1024
The sum of the two numbers:  1002

In [3]:
print(2*4, 2**4, 2.*4, 2**4., 2/4, 2//4, -2//4, 2%4, 2%-4, sep="\n")

8
16
8.0
16.0
0.5
0
-1
2
-2

In [4]:
F = float(input("Enter a temperature in Farenheit: "))
C = 5/9*(F-32)
 
print("Temperature in degree celcius: ", C)

Enter a temperature in Farenheit: 60
Temperature in degree celcius:  15.555555555555557

In [5]:
John = 3
Mary = 5
Adam = 6
 
print(John, Mary, Adam, sep=",")
print(John+Mary+Adam)
 
Total_Apples = John + Mary + Adam
print(Total_Apples)
 
print(Total_Apples/2, Total_Apples//2, Total_Apples**2, Total_Apples-Mary)
print(Total_Apples)

3,5,6
14
14
7.0 7 196 9
14